

.mainWrapper
    background-color: #6890ac
    display: flex   
    width: 500px
    height: 200px
    flex-direction: column

.newWrapper
    height: 200px


.invisibleBlock
    background-color: white
    height: 200vh



button
    background-color: #fff
    width: 100px
    height: 50px
    margin: auto