
body
    background-color: #352c5a
    height: 200vh
    display: flex
    

.navigation
    display: flex
    background-color: #7064a5
    height: 40px
    width: 90%
    justify-content: space-around
    align-items: center
    position: fixed
    border-radius: 10px
    margin-left: 50px
    

.mainWrapper
    background-color: #6890ac
    display: flex   
    width: 500px
    height: 200px
    flex-direction: column
    margin-top: 50px

.newWrapper
    height: 200px


.invisibleBlock
    display: flex
    background-color: #d3c4df
    height: 200vh
    justify-content: center
    align-items: center

.wrapperText
    &1, &2, &3
        font-weight: 500
        margin: auto
        
.btns
    margin: auto    

.hidden
    display: none








button
    background-color: #fff
    width: 100px
    height: 50px
    margin: auto
    margin-top: 5px
    
